{% extends 'base.html' %}

{% block content %}
<div class="row">
    <h1>Twitoff</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Select two users and find out which is more likely to write the tweet!</h4>
        <form action="", method="POST">
            <p>
            {{ form_twitoff.user1() }}
            </p><p>
            {{ form_twitoff.user2() }}
            </p><p>
            {{ form_twitoff.tweet.label }}
            <br />
            {{ form_twitoff.tweet() }}
            </p><p>
            {{ form_twitoff.submit() }}
            </p>
        </form>
        <p>
            "{{ tweet }}"
        </p>
        <p>
            {{ twitoff_winner }}
        </p>
        <p>
            {{ conf }}
        </p>
        <h5> Cached models: </h5>

        <ul>
            {% for cached_model in cached_models %}
                <li>
                    <a href="#" onclick="selectModel('{{ cached_model[0] }}', '{{ cached_model[1] }}')">
                    {{ cached_model[0] }} vs. {{ cached_model[1] }}
                    </a>
                </li>
            {% endfor %}
        </ul>

    </div>
    <div class="col-md-6">
    <ul>
        <h4>Loaded Users</h4>
        {% for user in users %}
        <li><a href="user/{{ user.username }}">{{ user.name }} (@{{ user.username }})</a></li>
        {% endfor %}
        <form action="/user/add", method="POST">
            <h4>Add a new user</h4>
            {{ form_adduser.username(autocomplete="off") }}
            {{ form_adduser.submit() }}
        </form>
    </ul>
    </div>
</div>
    <script>
        const selectModel = (u1, u2) => {
            const first = document.getElementById("first-user-input"),
                second = document.getElementById("second-user-input");

            first.value = u1;
            second.value = u2;
        };
    </script>
{% endblock %}
