{% extends 'base.html' %}

{% block content %}
<header>
    <title>{{ username }}'s Tweets</title>
</header>

<body>
    <div class="row">
        <div class="col-md-1">
            <h4><a href="/">Home</a></h4>
            <form action="/user/add" method="POST">
                <input type="hidden" name="username" value="{{ username }}"></input>
                <input id="submitupdateuser" type="submit" value="Update"></input>
            </form>
        </div>
        <div class="col-md-11">
            <h1>{{ name }}'s Tweets</h1>
            {% for tweet in tweets %}
            <p>{{ tweet.date }} -- {{ tweet.text }}</p>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}
